@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@source "./public";

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/inter.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Source Sans 3 Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url("/fonts/source-sans-3.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Literata Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url("/fonts/literata.woff2") format("woff2-variations");
}
